<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Escanear Mesa</label>
                </FlexboxLayout>
                <FlexboxLayout class="Cart">
                <Image src="~/app/images/cart.png"></Image>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" alignItems="center" marginLeft="15" marginRight="15">
                <Image class="logoOasis" src="~/app/images/logoOasisBlanco.png" width="150"></Image>
                <label class="Cabin" fontSize="16" marginTop="30" text="Escanea el código QR de la mesa"></label>
                <Image marginTop="25" src="~/app/images/QR.jpg" width="270"></Image>
                <label marginTop="25" class="butonlabelmorado Cabin" text="Escanear"></label>
                <FlexboxLayout class="rayaIntermedia3"></FlexboxLayout>
                <label marginTop="25" class="butonlabelrosa Cabin" (tap)="onEscaneado()" text="Escaneado"></label>
            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>
