.blockImages {
    justify-content: center;
    align-items: center;
    padding-left: 20;
    padding-right: 20;
}

.logoOasis{
    margin-bottom: 20;
}
.blockImages image{
    border-radius: 20%;
}

.texto_centrado{
    margin-left: 30px;
    margin-top: 20;
    color: white;
    font-size: 30;
    font-weight: 700;
}


.blockProductos {
    background-image: url("~/app/images/fondo_ola.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 20;
    border-bottom-left-radius: 10;
    border-bottom-right-radius: 10;
}


.blockCategorias{
    margin: 10, 10;
    justify-content: space-between;
}

.cardProductos{
    margin-left: 5;
    width: 100;
    height: 150;
    background-color: #262626;
    border-radius: 25%;
}

.cardProductos Image{
    stretch: fill;
    height: 120;
    border-radius: 25%;
}

.cardProductos label{
    color: white;
    text-align: center;
    margin-top: 2%;
}

.blockBoton{
    justify-content: center;
}

.blockGaleria{
    margin-bottom: 50;
    padding-left: 10;
    padding-right: 10;
}

.cardGaleria{
    margin-top: 20;
    margin-right: 20;
    width: 220;
    height: 180;
    border-radius: 25%;
}

.cardGaleria Image{
    stretch: fill;
    border-radius: 10;
    height: 150;
}

.cardGaleria label{
    margin-top: 5;
    font-size: 14;
}

.blockInfo{
    background-image: url("~/app/images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 25;
}
.Text-Info{
    font-size: 22;
    margin-left: 8;
    margin-bottom: 12;
    margin-top: 6;
}

.cardInfo{
    margin-left: 5;
    width: 200;
    height: 250;
    margin-right: 20;
    background-color: #262626;
    border-radius: 25%;
}

.cardInfo Image{
    stretch: fill;
    height: 130;
    border-radius: 25%;
}

.cardInfo label{
    color: white;
    margin-top: 4;
    margin-left: 10;
    margin-bottom: 8;
    padding-left: 6;
    font-size: 15;
    white-space: normal
}