<ActionBar>
    <Label text="Productos"
        style="color: rgb(15, 14, 14); font-size: 40; text-align: center; font-weight: bold;"></Label>
</ActionBar>

<ScrollView>
    <WrapLayout orientation="horizontal" padding="10" backgroundColor="#000000">
        <StackLayout width="44%" padding="10">
            <Image src="~/app/images/coctel1.png" width="100" height="100" />
            <Label text="coctel" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
            <Label text="$50.000" style="color: white; font-size: 14; text-align: center;" ></Label>
            <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
        </StackLayout>
        
        <StackLayout width="44%" padding="10">
            <Image src="~/app/images/coctel2.jpg" width="100" height="100" />
            <Label text="blue label" style="color: white; font-size: 16; text-align: center; font-weight: bold;" ></Label>
            <Label text="$30.000" style="color: white; font-size: 14; text-align: center;" ></Label>
            <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
        </StackLayout>
        
        <StackLayout width="44%" padding="10">
            <StackLayout verticalAlignment="center">
                <Image src="~/app/images/coctel3.jpg" width="100" height="100" />
                <Label text="BEBIDA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="AZUL" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="$80.000" style="color: white; font-size: 14; text-align: center;" ></Label>
                <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
            </StackLayout>
        </StackLayout>

        <StackLayout width="44%" padding="10">
            <StackLayout verticalAlignment="center">
                <Image src="~/app/images/redbull.jpg" width="100" height="100" />
                <Label text="BEBIDA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="ENERGÉTICA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="$90.000" style="color: white; font-size: 14; text-align: center;" ></Label>
                <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
            </StackLayout>
        </StackLayout>

        <StackLayout width="44%" padding="10">
            <StackLayout verticalAlignment="center">
                <Image src="~/app/images/coctel4.png" width="100" height="100" />
                <Label text="BEBIDA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="rojo" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="$67.000" style="color: white; font-size: 14; text-align: center;" ></Label>
                <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
            </StackLayout>
        </StackLayout>

        <StackLayout width="44%" padding="10">
            <StackLayout verticalAlignment="center">
                <Image src="~/app/images/coctel5.png" width="100" height="100" />
                <Label text="BEBIDA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="CURADO" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="$67.000" style="color: white; font-size: 14; text-align: center;" ></Label>
                <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
            </StackLayout>
        </StackLayout>

        <StackLayout width="44%" padding="10">
            <StackLayout verticalAlignment="center">
                <Image src="~/app/images/coctel6.jpg" width="100" height="100" />
                <Label text="BEBIDA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="ILUMINOSA" style="color: white; font-size: 16; text-align: center; font-weight: bold;"></Label>
                <Label text="$76.500" style="color: white; font-size: 14; text-align: center;" ></Label>
                <Button text="Agregar" style="color: black; font-size: 14; text-align: center;" ></Button>
            </StackLayout>
        </StackLayout>
        <!-- Repite lo mismo para los otros elementos -->
    </WrapLayout>
</ScrollView>