.blockEventos{
    margin-left: 15;
    margin-right: 15;
}

.cardEventos{
    background-color: #262626;
    border-radius: 20;
    margin-bottom: 20;
}
.headCardEventos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15;
    margin-bottom: 15;
}
#lapizEdit{
    background-color: transparent;
    color: #fc4664;
    font-size: small;
    margin-right: 8;
}
.Info .titulo{
    font-size: 19;
    white-space: normal;
    margin-bottom: 5;
}

.Imagen_Evento{
    padding: 15;
    border-radius: 10;
    height: 200;
}

.Imagen_Evento Image{
    stretch: fill;
    height: auto;
}

.botonvermas{
    justify-content: center;
}