@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

#LETRAS

.Nunito {
    font-family: "Nunito", "Nunito-Medium";
}

.Cabin {
    font-family: "Cabin", "Cabin-Medium";
}


.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 22px;
}


.texto_centrado{
    text-align: center;
    font-size: 16px;
}

.barraNavegacion{
    display: flex;
    height: 180px;
    width: 100%;
    color: white;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
    background-color:#000000;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
}

.barraNavegacion2{
    display: flex;
    height: 180px;
    width: 100%;
    color: white;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 10;
    padding-right: 30px;
    background-color:#000000;
    align-items: center;
    font-family: 'Nunito';
    font-weight: 700;
}

.img_user{
    width: 60;
}

.InfoUser{
    display: flex;
    width: 85%;
}

.InfoUser2{
    display: flex;
    width: 85%;
}

.InfoUser2 label{
    margin-left: 15;
}

.Cart{
    width: 15%;
}

.Cart Image{
    width: 80px;
}

#flecha_devolver{
    background-color: #000000;
    color: white;
}
.butonlabelrosa{
    margin-top: 20;
    text-align: center;
    height: 45;
    width: 200;
    background-color: #fc4664;
    font-size: 13;
    color: white;
    border-radius: 20;
    margin-bottom: 30;
}


.butonlabelmorado{
    margin-top: 20;
    text-align: center;
    height: 45;
    width: 200;
    font-size: 13;
    background-color: #aa46fc;
    color: white;
    border-radius: 20;
    margin-bottom: 30;
}

.butonIr{
    height: 30;
    width: 20;
    margin-right: 50;
    background-color: #aa46fc;
    color: white;
    border-radius: 20;
    margin-bottom: 30;
}

.butonlabelgris{
    text-align: center;
    height: 35;
    padding-left: 10;
    padding-right: 10;
    width: auto;
    background-color: #262626;
    color: white;
    border-radius: 20;
    margin-bottom: 30;
}
.rayaIntermedia{
    height: 1.9;
    width: auto;
    background-color: #262626;
    border-radius: 30;
    margin-left: 10;
    margin-right: 10;
}
.rayaIntermedia2{
    height: 1.5;
    width: 100%;
    background-color: #B7B7B7;
    border-radius: 30;
}
.rayaIntermedia3{
    height: 1.9;
    width: 100%;
    background-color: #262626;
    border-radius: 30;
}
#calendario{
    background-color: transparent;
    color: #fc4664;
    font-size: small;
    margin-right: 8;
}
.fecha{
    color: #fc4664;
    font-size: 14;
}
.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 200;
    font-size: 30px;
    background-color: white;
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
    font-size: 30px;
    background-color: white;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 400;
    font-size: 30px;
    background-color: white;

}