.blockEvento {
    padding-left: 20;
    padding-right: 20;
}

.Info_Evento{
    margin-top: 20;
}
.cardEspeciales{
    margin-left: 5;
    width: 160;
    height: 182;
    background-color: #262626;
    border-radius: 25%;
}

.cardEspeciales Image{
    stretch: fill;
    height: 140;
    border-radius: 25%;
}

.cardEspeciales label{
    color: white;
    text-align: left;
    padding-left: 10;
    font-size: 16;
    margin-top: 3;
}