<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Información Evento</label>
                </FlexboxLayout>
                <FlexboxLayout class="Cart">
                <Image src="~/app/images/cart.png"></Image>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout class="blockEvento" flexDirection="column">
                <GridLayout rows="auto, auto">
                    <Image src="~/app/images/licores.jpg" row="0" borderRadius="10"></Image>
                    <Image src="~/app/images/cart_purple2.png" row="0" width="45" height="41" horizontalAlignment="right" verticalAlignment="top" margin="10" borderRadius="100"></Image>
                </GridLayout>
                <FlexboxLayout class="Info_Evento" flexDirection="column">
                    <label class="Cabin titulo" text="Celebración del día de muertos" fontSize="20" whiteSpace="normal"></label>
                    <FlexboxLayout>
                        <label class="far" id="calendario" text="&#xf133;"></label>
                        <label class="Cabin fecha" text="20 noviembre 2023"></label>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="column" height="auto">
                        <label class="Cabin" marginTop="20" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="Bienvenidos a nuestra celebración única en el Bar OASIS en honor al Día de los Muertos!"></label>
                        <label class="Cabin" marginTop="15" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="Únete a nosotros en una velada especial mientras rendimos homenaje a nuestros seres queridos en el Día de los Muertos. Nuestro bar se transformará en un espacio lleno de color, alegría y respeto, donde la tradición y la diversión se entrelazan de manera única."></label>
                        <label class="Cabin" marginTop="15" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="Qué te espera?"></label>
                        <label class="Cabin" marginTop="15" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="🕯️ Altar de Ofrendas"></label>
                        <label class="Cabin" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="💀 Maquillaje de Catrina"></label>
                        <label class="Cabin" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="🎶 Música Tradicional"></label>
                        <label class="Cabin" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="🍹 Cócteles Especiales"></label>
                        <label class="Cabin" fontSize="14" whiteSpace="normal" color="#c4c4c2" text="🎁 Premios y Sorpresas"></label>
                    </FlexboxLayout>
                    <label class="Cabin" fontSize="18" text="Especiales" marginTop="15" marginBottom="15"></label>
                    <ScrollView orientation="horizontal">
                        <FlexboxLayout marginBottom="30">
                            <FlexboxLayout class="cardEspeciales" flexDirection="column" marginRight="10">
                                <Image src="~/app/images/tacos.png"></Image>
                                <label class="Cabin" text="Tacos"></label>
                            </FlexboxLayout>
                            <FlexboxLayout class="cardEspeciales" flexDirection="column" marginRight="10">
                                <Image src="~/app/images/coctel4.png"></Image>
                                <label class="Cabin" text="Coctel Calaca Cosmo"></label>
                            </FlexboxLayout>
                            <FlexboxLayout class="cardEspeciales" flexDirection="column" marginRight="10">
                                <Image src="~/app/images/tacos.png"></Image>
                                <label class="Cabin" text="Tacos"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </ScrollView>
                    <FlexboxLayout class="rayaIntermedia"></FlexboxLayout>
                    <FlexboxLayout alignItems="center" justifyContent="center" marginTop="15">
                        <label class="butonlabelmorado Cabin" text="Agregar al carrito"></label>
                    </FlexboxLayout>
                </FlexboxLayout> 
            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>